#div1 {
    background-color: red;
    font-size: 24px;
    color: white;
    padding: 20px;
    cursor: pointer;
}

#div2 {
    background-color: blue;
    font-size: 24px;
    color: white;
    padding: 20px;
    cursor: pointer;
}

#carga
{
    background-color: beige;
}